 /* CSS reset */


    .cabeca { 
    background-color: rgb(233, 233, 120);
    width: 100%;
    height: 100px;
        padding: 10px;
        position: absolute;
    }



    .cabeca h1 { 
    float: left;
        padding-right: 15px;
        
    }


    .cabeca > ul  {
        list-style-type:none;
        float: right;
    
        max-width: 1200px;
        margin:0 auto;
        }

    .cabeca > ul > li { 
            float: left;
            padding:0 20px;
                
            }

    .cabeca > ul > li > a { 
            background-color: rgb(176, 226, 209);            
                border-radius: 5px;   
              
                }    

    .boxSucesso { 
                    width: 100%;
                    background-color: rgb(157, 224, 56);
                    border-radius: 5px;
                    text-align: center;
                    font-size: medium;
                    color: white;
                    }
                    
    .boxErro { 
                        width: 100%;
                        background-color: rgb(243, 28, 92);
                        border-radius: 5px;
                       height: 40px;
                       color: white;
                       text-align: center; 
                    }    
                    
    .clear{
                        clear: both;
                    }
                                    

   .corpo { 

    width: 100%;
    padding: 105px;
   }
  
   .borda { 
   border-radius: 3px;
   border: solid 1px #aeb9ae;
   width: 60%;
   margin-left: 180px;
   margin-top: 80px;
   padding: 10px;
   }

   .borda form .input100 { 
    border-radius: 3px;
    border: solid 1px #aeb9ae;
    
    }

 .btn-danger { 

    margin-left: 60px;
}
.card img { 
padding: 20px;

}

.coluna1 { 
padding: 109px;

}
  .coluna1 h2 { 
   margin-top: 40px;

  }